In [1]:
import pandas as pd
import sys
from sklearn.ensemble import RandomForestClassifier
from sklearn.cross_validation import cross_val_predict, KFold
from sklearn.metrics import roc_auc_score
import csv
from sklearn.linear_model import SGDClassifier
from sklearn.metrics import accuracy_score
from optparse import OptionParser

/home/nish_sharon/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
#clicks_train = pd.read_csv("/home/nisha/Outbrain/clicks_train.csv")
X_test=pd.read_csv("/home/nisha/Outbrain/clicks_test.csv")
documents_topics_df =pd.read_csv("/home/nisha/Outbrain/documents_topics.csv")

In [31]:
X_test.shape

(32225162, 2)

In [3]:
documents_topics_df.drop("confidence_level", axis=1, inplace=True)
documents_entities_df = pd.read_csv('/home/nisha/Outbrain/documents_entities.csv')
documents_entities_df.drop("confidence_level", axis=1, inplace=True)

In [4]:
documents_meta_df = pd.read_csv('/home/nisha/Outbrain/documents_meta.csv')

In [5]:
#page_views_sample_df = pd.read_csv('/home/nisha/Outbrain/page_views_sample.csv')

In [25]:
#events_df = pd.read_csv('/home/nisha/Outbrain/events.csv')

/home/nish_sharon/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
promoted_content_df = pd.read_csv('/home/nisha/Outbrain/promoted_content.csv')

In [6]:

#documents_topics_df = documents_topics_df.drop_duplicates(subset='document_id', keep='first')
print(any(promoted_content_df['ad_id'].duplicated()))

False

In [5]:
promoted_content_df.shape

(559583, 4)

In [7]:
documents_categories_df = pd.read_csv('/home/nisha/Outbrain/documents_categories.csv')

In [39]:
#Add the calculated scores to promoted_content based on 'ad_id'
topics_promoted=documents_topics_df.merge(documents_meta_df,on='document_id' ,how='inner')

In [42]:
#topics_promoted = topics_promoted.drop_duplicates(subset=['document_id','ad_id'], keep='first')
print(any(topics_promoted['document_id'].duplicated()))

(2495423, 6)

In [43]:
del documents_topics_df, documents_meta_df

In [47]:
documents_categories_df = documents_categories_df.drop_duplicates(subset='document_id', keep='first')
print(any(documents_categories_df['document_id'].duplicated()))

False

In [48]:

topic_doc_cat_df = topics_promoted.merge(documents_categories_df,on='document_id' ,how='left')

In [49]:
topic_doc_cat_df.shape

(2495423, 8)

In [50]:
del documents_categories_df, topics_promoted

In [54]:
promoted_content_df.shape

(559583, 4)

In [55]:
topic_doc_cat_ad_df = topic_doc_cat_df.merge(promoted_content_df,on='document_id' ,how='inner')

In [56]:
topic_doc_cat_ad_df.shape

(535125, 11)

In [57]:
topic_doc_cat_ad_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 535125 entries, 0 to 535124
Data columns (total 11 columns):
document_id           535125 non-null int64
topic_id              535125 non-null int64
confidence_level_x    535125 non-null float64
source_id             533718 non-null float64
publisher_id          256039 non-null float64
publish_time          402205 non-null object
category_id           534814 non-null float64
confidence_level_y    534814 non-null float64
ad_id                 535125 non-null int64
campaign_id           535125 non-null int64
advertiser_id         535125 non-null int64
dtypes: float64(5), int64(5), object(1)
memory usage: 49.0+ MB

In [58]:
topic_doc_cat_ad_df.drop(["campaign_id","advertiser_id", "publish_time", "confidence_level_x", "confidence_level_y"], axis=1)

        document_id  topic_id  source_id  publisher_id  category_id   ad_id
0           1009570       232        2.0          85.0       1100.0   61909
1           1097501       232        2.0          85.0       1100.0   90151
2           1097501       232        2.0          85.0       1100.0   90152
3           1097501       232        2.0          85.0       1100.0   90153
4           1097501       232        2.0          85.0       1100.0   90154
5           1484804       232        2.0          85.0       1100.0  207643
6           1324010       232        2.0          85.0       1100.0  141241
7           1142982       232        2.0          85.0       1100.0  140507
8           1177339        77        2.0          85.0       1100.0  138386
9           1177339        77        2.0          85.0       1100.0  138451
10          2019029       232        2.0          85.0       1100.0  406093
11          2019029       232        2.0          85.0       1100.0  406110
12          1204410       181        3.0         740.0       1510.0  137839
13          1204410       181        3.0         740.0       1510.0  138566
14          1204410       181        3.0         740.0       1510.0  138567
15           835149        24        3.0         740.0       1510.0   94131
16           835149        24        3.0         740.0       1510.0   94132
17           835149        24        3.0         740.0       1510.0   94133
18           835149        24        3.0         740.0       1510.0   94134
19           835149        24        3.0         740.0       1510.0   94140
20          1807706       196        4.0         213.0       1209.0  363422
21          1807706       196        4.0         213.0       1209.0  451345
22          1807706       196        4.0         213.0       1209.0  451346
23          1807706       196        4.0         213.0       1209.0  451347
24          1807706       196        4.0         213.0       1209.0  451348
25          1760078        59        4.0         213.0       1207.0  334004
26          1760078        59        4.0         213.0       1207.0  334478
27          1760078        59        4.0         213.0       1207.0  334479
28          1760078        59        4.0         213.0       1207.0  334480
29           985543       258        4.0         213.0       1405.0  554889
...             ...       ...        ...           ...          ...     ...
535095      1882575        20        NaN           NaN       1609.0  370716
535096      2383477        16        NaN           NaN       1408.0  515169
535097      2486908         3        NaN           NaN       1406.0  507607
535098      2472218         3        NaN           NaN       1406.0  507655
535099      2476721        16        NaN           NaN       1406.0  507608
535100      2480322        16        NaN           NaN       1406.0  507609
535101      2480087       136        NaN           NaN       1406.0  515168
535102      2384233         3        NaN           NaN       1406.0  507044
535103      1702998         3        NaN           NaN       1406.0  325268
535104      1703084        92        NaN           NaN       1406.0  325269
535105      1662313         3        NaN           NaN       1406.0  325300
535106      1682767         3        NaN           NaN       1406.0  325303
535107      1722337       198        NaN           NaN       1406.0  325265
535108      1702088        16        NaN           NaN       1406.0  325267
535109      1705329         3        NaN           NaN       1406.0  325266
535110      1375519         3        NaN           NaN       1406.0  178274
535111      1448896       258        NaN           NaN       1406.0  178272
535112      1448590         3        NaN           NaN       1406.0  178273
535113      1620404         3        NaN           NaN       1406.0  325307
535114      1521935         3        NaN           NaN       1406.0  325305
535115      1618182         3        NaN           NaN       1406.0  325306
535116      1635074        16        NaN           NaN       1406.0  325302
535117      1619153         3        NaN           NaN       1406.0  325304
535118      1635143         3        NaN           NaN       1406.0  325301
535119      1125053        29        NaN           NaN       1907.0   91972
535120      1080024        19        NaN           NaN       1903.0   76750
535121      1125054        29        NaN           NaN       1907.0   91971
535122      1080122        29        NaN           NaN       1903.0   76755
535123      1291726        68        NaN           NaN       1902.0  132301
535124      1855422        99        NaN           NaN       1702.0  365951

[535125 rows x 6 columns]

In [59]:

print(any(topic_doc_cat_ad_df['ad_id'].duplicated()))

False

In [26]:


#topic_doc_cat_src_plt_df = topic_doc_cat_src_df.merge(events_df,on='document_id' ,how='inner')

In [29]:
#del topic_doc_cat_src_plt_df

In [60]:
test_merged = X_test.merge(topic_doc_cat_ad_df, on='ad_id' ,how='left')

In [61]:
test_merged.shape

(32225162, 12)

In [63]:
test_merged.to_csv("train_merged.csv", sep=',')
print("saved")

saved

In [34]:
clicks_train.info()
clicks_train.iloc[0]

<class 'pandas.core.frame.DataFrame'>
Int64Index: 87141731 entries, 0 to 87141730
Data columns (total 6 columns):
display_id       int64
ad_id            int64
clicked          int64
document_id      int64
campaign_id      int64
advertiser_id    int64
dtypes: int64(6)
memory usage: 4.5 GB

display_id            1
ad_id             42337
clicked               0
document_id      938164
campaign_id        5969
advertiser_id      1499
Name: 0, dtype: int64

In [111]:
del clicks_train

In [35]:
# join documents_topics and documents_entities by document_id
by_document_id_df = documents_topics_df.merge(documents_entities_df, on='document_id', how='inner')
by_document_id_df.rename(columns={'confidence_level_x': 'topic_confidence_level', 'confidence_level_y': 'entities_confidence_level'}, inplace=True)

document_id                                  1524246
topic_id                                         113
confidence_level                             0.19645
entity_id           f9eec25663db4cd83183f5c805186f16
Name: 0, dtype: object

In [36]:
by_document_id_df.info()
by_document_id_df.iloc[0]

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33360919 entries, 0 to 33360918
Data columns (total 4 columns):
document_id         int64
topic_id            int64
confidence_level    float64
entity_id           object
dtypes: float64(1), int64(2), object(1)
memory usage: 1.2+ GB

document_id                                  1524246
topic_id                                         113
confidence_level                             0.19645
entity_id           f9eec25663db4cd83183f5c805186f16
Name: 0, dtype: object

In [37]:
# join by_document_id_df with documents_meta_df by document_id
by_document_id_df = by_document_id_df.merge(documents_meta_df, on="document_id", how="inner")

# join by_document_id_df with documents_categories_df by document_id
by_document_id_df = by_document_id_df.merge(documents_categories_df, on="document_id", how="inner")
by_document_id_df.rename(columns={'confidence_level': 'category_confidence_level'}, inplace=True)

In [38]:
by_document_id_df.info()
by_document_id_df.iloc[0]

<class 'pandas.core.frame.DataFrame'>
Int64Index: 66003848 entries, 0 to 66003847
Data columns (total 8 columns):
document_id                  int64
topic_id                     int64
category_confidence_level    float64
entity_id                    object
source_id                    float64
publisher_id                 float64
publish_time                 object
category_id                  int64
dtypes: float64(3), int64(3), object(2)
memory usage: 4.4+ GB

document_id                                           1524246
topic_id                                                  113
category_confidence_level                             0.19645
entity_id                    f9eec25663db4cd83183f5c805186f16
source_id                                                   1
publisher_id                                              603
publish_time                              2016-05-26 11:00:00
category_id                                              1807
Name: 0, dtype: object

In [39]:
# join page_views_sample with events by uuid, document_id, timestamp, platform, geo_location
join_columns = ["uuid", "document_id", "timestamp", "platform", "geo_location"]
page_views_sample_events_df = page_views_sample_df.merge(events_df, left_on=join_columns, right_on=join_columns, how="inner")

In [40]:
page_views_sample_events_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 70665 entries, 0 to 70664
Data columns (total 7 columns):
uuid              70665 non-null object
document_id       70665 non-null int64
timestamp         70665 non-null int64
platform          70665 non-null object
geo_location      70665 non-null object
traffic_source    70665 non-null int64
display_id        70665 non-null int64
dtypes: int64(4), object(3)
memory usage: 4.3+ MB

In [41]:
# join by_document_id_df with page_views_sample_events_df by document_id
by_document_id_with_page_views_sample_events_df = by_document_id_df.merge(page_views_sample_events_df, on="document_id", how="inner")

In [59]:
by_document_id_with_page_views_sample_events_df.iloc[0]

document_id                                           1587682
topic_id                                                  260
category_confidence_level                            0.179229
entity_id                    192400be544694adc47d343f46a7117c
source_id                                                   1
publisher_id                                              603
publish_time                              2016-06-09 00:00:00
category_id                                              1603
uuid                                           830ad80b58113f
timestamp                                              551806
platform                                                    2
geo_location                                        US>CO>751
traffic_source                                              1
display_id                                               7998
Name: 0, dtype: object

In [61]:
# join above with clicks_train_df and clicks_test_df by display_id
train_df = by_document_id_with_page_views_sample_events_df.merge(clicks_train, on="display_id", how="inner")

In [47]:

#test_df = by_document_id_with_page_views_sample_events_df.merge(X_test, left_on="display_id", right_on="display_id", how="inner")
test_df = X_test.merge(by_document_id_with_page_views_sample_events_df, on="display_id", how="left")

In [63]:
# drop entity_id, publish_time, uuid, timestamp
columns_to_drop = ["entity_id", "publish_time", "uuid", "timestamp"]
train_df = train_df.drop(columns_to_drop, axis=1)
test_df = test_df.drop(columns_to_drop, axis=1)

In [81]:
test_df.drop_duplicates()
print(test_df.shape)

(33799595, 11)

In [26]:
test_df.iloc[0]

display_id        16874594
ad_id                66758
document_id            NaN
topic_id               NaN
source_id              NaN
publisher_id           NaN
category_id            NaN
platform               NaN
geo_location           NaN
traffic_source         NaN
Name: 0, dtype: object

In [14]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33799595 entries, 0 to 33799594
Data columns (total 10 columns):
display_id        int64
ad_id             int64
document_id       float64
topic_id          float64
source_id         float64
publisher_id      float64
category_id       float64
platform          object
geo_location      object
traffic_source    float64
dtypes: float64(6), int64(2), object(2)
memory usage: 2.8+ GB

In [65]:
train_df.shape

(8377862, 12)

In [68]:
# save train and test data to file
train_df.to_csv("train_final.csv", sep=',')
print("saved train data to file")

train_df.to_csv("test_final.csv", sep=',')
print("saved test data to file")

print("Finished loading files")

saved train data to file
saved test data to file
Finished loading files

In [65]:
train_final_df = pd.read_csv("train_final.csv")

train_final_df.drop(train_final_df.columns[0],axis=1,inplace=True)

In [67]:
train_final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8377862 entries, 0 to 8377861
Data columns (total 13 columns):
Unnamed: 0                   int64
document_id                  int64
topic_id                     int64
category_confidence_level    float64
source_id                    float64
publisher_id                 float64
category_id                  int64
platform                     int64
geo_location                 object
traffic_source               int64
display_id                   int64
ad_id                        int64
clicked                      int64
dtypes: float64(3), int64(9), object(1)
memory usage: 830.9+ MB

In [68]:
features_columns = ["document_id", "topic_id", "source_id", "publisher_id", 
                    "category_id", "ad_id", "display_id"]

X = train_final_df[features_columns]
Y = train_final_df["clicked"]

In [76]:
test_final_df = pd.read_csv("train_merged.csv")

In [69]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8377862 entries, 0 to 8377861
Data columns (total 7 columns):
document_id     int64
topic_id        int64
source_id       float64
publisher_id    float64
category_id     int64
ad_id           int64
display_id      int64
dtypes: float64(2), int64(5)
memory usage: 447.4 MB

In [78]:
test_final_df.drop(test_final_df.columns[0],axis=1,inplace=True)

In [79]:
test_final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32225162 entries, 0 to 32225161
Data columns (total 12 columns):
display_id            int64
ad_id                 int64
document_id           float64
topic_id              float64
confidence_level_x    float64
source_id             float64
publisher_id          float64
publish_time          object
category_id           float64
confidence_level_y    float64
campaign_id           float64
advertiser_id         float64
dtypes: float64(9), int64(2), object(1)
memory usage: 2.9+ GB

In [70]:
rf = RandomForestClassifier(random_state=1, class_weight="balanced", n_estimators=25, max_depth=6)
rf.fit(X, Y)

RandomForestClassifier(bootstrap=True, class_weight='balanced',
            criterion='gini', max_depth=6, max_features='auto',
            max_leaf_nodes=None, min_impurity_decrease=0.0,
            min_impurity_split=None, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=25, n_jobs=1, oob_score=False, random_state=1,
            verbose=0, warm_start=False)

In [80]:
features_columns = ["document_id", "topic_id", "source_id", "publisher_id", 
                    "category_id", "ad_id", "display_id"]

X_test = test_final_df[features_columns]

In [84]:

predictions_proba = rf.predict_proba(X_test)

In [87]:
predictions = rf.predict(X_test)

In [89]:
X_test["predicted_label"] = predictions

/home/nish_sharon/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [95]:
X_test["predictions_proba"] = predictions_proba.T[1]

/home/nish_sharon/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [94]:
predictions_proba.T[1]

array([ 0.47923445,  0.49374897,  0.53516155, ...,  0.50910103,
        0.47786933,  0.45180389])

In [96]:
X_test.columns

Index(['document_id', 'topic_id', 'source_id', 'publisher_id', 'category_id',
       'ad_id', 'display_id', 'predicted_label', 'predictions_proba'],
      dtype='object')

In [97]:
drop_columns = ["document_id", "topic_id",
                        "source_id", "publisher_id", "category_id"
                ]

X_test.drop(drop_columns,axis=1,inplace=True)

/home/nish_sharon/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [98]:
X_test.columns

Index(['ad_id', 'display_id', 'predicted_label', 'predictions_proba'], dtype='object')

In [102]:
X_test.sort_values(by=["display_id", "ad_id", "predicted_label", "predictions_proba"], ascending=[False, False, False, False], inplace=True)

/home/nish_sharon/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [103]:
X_test.drop(["predicted_label", "predictions_proba"], axis=1, inplace=True)

test_group_by = X_test.groupby("display_id")["ad_id"].apply(list)

/home/nish_sharon/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [104]:
submission_dict = {}

# create a dictionary to hold display ids and unique ad ids
for index, row in test_group_by.iteritems():
    unique_lst = []
    for i in row:
        if i not in unique_lst:
            unique_lst.append(i)
    submission_dict[index] = unique_lst

# write to the submission file
with open("submission_rf.csv", "w") as submission_file_handle:
    file_writer = csv.writer(submission_file_handle, delimiter=',', quoting=csv.QUOTE_NONE, quotechar='', lineterminator='\n')
    file_writer.writerow(["display_id","ad_id"])
    for key, value in submission_dict.items():
        ad_id_str = ""
        for i, v in enumerate(value):
            if i != 0:
                ad_id_str += " " + str(v)
            else:
                ad_id_str += str(v)

        file_writer.writerow([key, ad_id_str])

In [82]:
import numpy as np

,document_id,topic_id,source_id,publisher_id,category_id,ad_id,display_id
0,False,False,False,True,False,False,False
1,False,False,False,True,False,False,False
2,False,False,False,False,False,False,False
3,False,False,False,True,False,False,False
4,False,False,False,False,False,False,False
5,False,False,False,True,False,False,False
6,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False
8,False,False,False,True,False,False,False
9,False,False,False,False,False,False,False
10,False,False,False,True,False,False,False
11,False,False,False,False,False,False,False
12,False,False,False,True,False,False,False
13,False,False,False,True,False,False,False
14,False,False,False,True,False,False,False
15,False,False,False,True,False,False,False
16,False,False,False,True,False,False,False
17,False,False,False,False,False,False,False
18,False,False,False,True,False,False,False
19,False,False,False,True,False,False,False
20,False,False,False,False,False,False,False
21,False,False,False,True,False,False,False
22,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False
25,False,False,False,True,False,False,False
26,False,False,False,False,False,False,False
27,False,False,False,True,False,False,False
28,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...
32225132,False,False,False,False,False,False,False
32225133,False,False,False,False,False,False,False
32225134,False,False,False,True,False,False,False
32225135,False,False,False,True,False,False,False
32225136,False,False,False,True,False,False,False
32225137,False,False,False,True,False,False,False
32225138,False,False,False,False,False,False,False
32225139,False,False,False,True,False,False,False
32225140,False,False,False,True,False,False,False
32225141,False,False,False,False,False,False,False
32225142,False,False,False,False,False,False,False
32225143,False,False,False,False,False,False,False
32225144,False,False,False,True,False,False,False
32225145,False,False,False,False,False,False,False
32225146,False,False,False,True,False,False,False
32225147,False,False,False,True,False,False,False
32225148,False,False,False,False,False,False,False
32225149,False,False,False,True,False,False,False
32225150,False,False,False,True,False,False,False
32225151,False,False,False,False,False,False,False
32225152,False,False,False,True,False,False,False
32225153,False,False,False,True,False,False,False
32225154,False,False,False,True,False,False,False
32225155,False,False,False,True,False,False,False
32225156,False,False,False,True,False,False,False
32225157,False,False,False,False,False,False,False
32225158,False,False,False,False,False,False,False
32225159,False,False,False,True,False,False,False
32225160,False,False,False,False,False,False,False
32225161,False,False,False,True,False,False,False

In [83]:
X_test.fillna(X_test.mean(), inplace=True)

/home/nish_sharon/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:3660: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

,document_id,topic_id,source_id,publisher_id,category_id,ad_id,display_id
0,1051283.0,26.0,6452.0,619.053174,1206.0,66758,16874594
1,1358132.0,163.0,8484.0,619.053174,1805.0,150083,16874594
2,1292723.0,143.0,3831.0,462.000000,1100.0,162754,16874594
3,1083829.0,131.0,10710.0,619.053174,1805.0,170392,16874594
4,1433954.0,8.0,1572.0,78.000000,1702.0,172888,16874594
5,1151028.0,16.0,4994.0,619.053174,1702.0,180797,16874594
6,21135.0,125.0,1871.0,156.000000,1405.0,8846,16874595
7,859959.0,230.0,7437.0,920.000000,1403.0,30609,16874595
8,1211785.0,192.0,8060.0,619.053174,1808.0,143982,16874595
9,635693.0,237.0,676.0,67.000000,1209.0,11430,16874596
10,992442.0,147.0,9803.0,619.053174,1303.0,57197,16874596
11,1151829.0,271.0,414.0,190.000000,2004.0,132820,16874596
12,1108162.0,26.0,9676.0,619.053174,2004.0,153260,16874596
13,1031141.0,140.0,8031.0,619.053174,1205.0,173005,16874596
14,1301965.0,107.0,10512.0,619.053174,2003.0,288385,16874596
15,1687165.0,125.0,13568.0,619.053174,2100.0,289122,16874596
16,1688648.0,16.0,13568.0,619.053174,1706.0,289915,16874596
17,864899.0,198.0,7437.0,920.000000,1403.0,137858,16874597
18,1211785.0,192.0,8060.0,619.053174,1808.0,143981,16874597
19,1387632.0,256.0,3247.0,619.053174,1509.0,155945,16874597
20,1451409.0,160.0,8610.0,1142.000000,1403.0,180965,16874597
21,1212231.0,254.0,8060.0,619.053174,1808.0,182039,16874597
22,1117317.0,107.0,10810.0,1140.000000,2006.0,285834,16874597
23,1396348.0,89.0,4776.0,672.000000,1808.0,305790,16874597
24,1037977.0,196.0,6450.0,206.000000,1808.0,308836,16874597
25,1043039.0,71.0,8535.0,619.053174,1503.0,67292,16874598
26,1060089.0,227.0,7744.0,1204.000000,1403.0,145937,16874598
27,1618502.0,138.0,9698.0,619.053174,1503.0,250082,16874598
28,1786069.0,71.0,6590.0,407.000000,1403.0,335632,16874598
29,419768.0,198.0,6286.0,819.000000,1403.0,91681,16874599
...,...,...,...,...,...,...,...
32225132,1504266.0,100.0,6604.0,225.000000,1302.0,197960,23120120
32225133,1535449.0,160.0,11097.0,1227.000000,1403.0,211592,23120120
32225134,1070495.0,232.0,7921.0,619.053174,1100.0,96074,23120121
32225135,1360929.0,160.0,7698.0,619.053174,1403.0,163139,23120121
32225136,1432395.0,0.0,8056.0,619.053174,1913.0,303990,23120121
32225137,2425726.0,238.0,3391.0,619.053174,1503.0,495641,23120121
32225138,456107.0,291.0,7174.0,595.000000,1511.0,5579,23120122
32225139,982695.0,138.0,8064.0,619.053174,1503.0,54979,23120122
32225140,1098103.0,138.0,6746.0,619.053174,1503.0,95103,23120122
32225141,738052.0,148.0,6454.0,924.000000,1606.0,148268,23120122
32225142,1366479.0,140.0,6136.0,1071.000000,1408.0,166840,23120122
32225143,1522802.0,74.0,4426.0,866.000000,1708.0,281183,23120122
32225144,1961656.0,234.0,9150.0,619.053174,1408.0,386922,23120122
32225145,309413.0,56.0,436.0,91.000000,1903.0,561507,23120122
32225146,1438812.0,81.0,12287.0,619.053174,1706.0,174045,23120123
32225147,1527442.0,140.0,8550.0,619.053174,1408.0,208244,23120123
32225148,1522802.0,74.0,4426.0,866.000000,1708.0,471443,23120123
32225149,1356941.0,90.0,6348.0,619.053174,1708.0,516264,23120123
32225150,1086326.0,165.0,4071.0,619.053174,1602.0,83252,23120124
32225151,1408591.0,296.0,9977.0,26.000000,1510.0,162994,23120124
32225152,1387632.0,256.0,3247.0,619.053174,1509.0,173403,23120124
32225153,2350858.0,239.0,6757.0,619.053174,1604.0,489589,23120124
32225154,208091.0,258.0,520.0,619.053174,1205.0,86281,23120125
32225155,875012.0,238.0,7044.0,619.053174,1504.0,89725,23120125
32225156,1116986.0,136.0,8254.0,619.053174,1702.0,187797,23120125
32225157,1624001.0,296.0,328.0,181.000000,1510.0,254698,23120125
32225158,992174.0,16.0,1810.0,252.000000,1610.0,57097,23120126
32225159,1340766.0,44.0,12088.0,619.053174,1206.0,145293,23120126
32225160,1172584.0,37.0,4426.0,866.000000,1210.0,201649,23120126
32225161,1116986.0,136.0,8254.0,619.053174,1702.0,292363,23120126

In [ ]:
features_columns = ["document_id", "topic_id", "source_id", "publisher_id", 
                    "category_id", "ad_id", "display_id"]

X_test = test_merged[features_columns]

In [74]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32225162 entries, 0 to 32225161
Data columns (total 7 columns):
document_id     float64
topic_id        float64
source_id       float64
publisher_id    float64
category_id     float64
ad_id           int64
display_id      int64
dtypes: float64(5), int64(2)
memory usage: 1.9 GB

In [86]:
predictions_proba

array([[ 0.52076555,  0.47923445],
       [ 0.50625103,  0.49374897],
       [ 0.46483845,  0.53516155],
       ...,
       [ 0.49089897,  0.50910103],
       [ 0.52213067,  0.47786933],
       [ 0.54819611,  0.45180389]])

In [89]:
drop_columns = ["document_id", "topic_id",
                "source_id", "publisher_id", "category_id", "platform",
                "traffic_source", "clicked", "geo_location"]

test_final_df.drop(drop_columns,axis=1,inplace=True)
#test_final_df.sort_values(['display_id','predicted_proba'], inplace=True, ascending=False)
#.isin(16874594,16874595,16874596,16874597,16874598)].sort('prob_Score'))

In [87]:
subm = test_final_df.groupby('display_id').ad_id.apply(lambda x: " ".join(map(str,x))).reset_index()

In [78]:
subm.shape

(46824, 2)

In [91]:
test_final_df.drop("category_confidence_level",axis=1,inplace=True)

In [93]:
test_final_df.sort_values(['display_id','predicted_proba'], inplace=True, ascending=False)

In [94]:
test_final_df.drop(["predicted_label", "predicted_proba"], axis=1, inplace=True)

In [95]:
subm = test_final_df.groupby('display_id').ad_id.apply(lambda x: " ".join(map(str,x))).reset_index()

In [96]:
subm.to_csv(r'submission_file_rf_1_3.csv', index=False)
print("done")

done